@import '../../styles/extensions.scss';

.itemFormWrapper {
    h2 {
        font-size: 18px;
        padding: 20px 0 20px 0;
    }

    input[type=text] {
        padding: 5px;
        height: 36px;
        font-size: 15px;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        background: transparent;
        border-radius: 5px;
        color: #ffffff;

        &::placeholder {
            color: #bce3ff;
        }
    }

    button {
        padding: 5px 20px;
        height: 36px;
        font-size: 15px;
        font-weight: normal;
        color: #fff;
        background: #f76504;
        border: 2px solid #ffffff;
        border-radius: 5px;
        margin: 0 0 0 10px;
        box-sizing: border-box;
        text-transform: uppercase;
    }

    .inputErrorMessage {
        color: red;
        font-weight: bold;
        padding: 3px 0 20px 0;
    }

    .addButton {
        @extend %plusMinusButton;
    }

    @extend %moveInAnimation;
}


