@import '../../styles/extensions.scss';

.timesListWrapper {
    padding: 20px 0 20px 0;

    .formattingHints {
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
        border-bottom: 1px solid #ffffff;
        font-size: 12px;
        color: #ffffff;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        color: #ffffff;

        th {
            padding: 3px;
            border-bottom: 1px solid #36A8FF;
            text-align: left;
            font-weight: normal;
            text-transform: uppercase;
        }

        td {
            padding: 3px;
            border-bottom: 1px solid #36A8FF;
        }

        tfoot td {
            border-bottom: 1px solid #36A8FF;
        }

        .rowUpdated {
            background: #0082e5;
        }

        .contentEditable {
            background: #ffb600;
            color: #000000;
        }

        .contentError {
            background: #e60000;
            @extend %fadeOutErrorAnimation;
            animation-delay: 2s;
        }

        .deleteButtonWrapper {
            text-align: right;
        }

        .deleteButton {
            @extend %plusMinusButton;
        }
    }

    @extend %moveInAnimation;
    animation-delay: 0.2s;
}