@import '../../styles/extensions.scss';

.timesListWrapper {
    padding: 20px 0 20px 0;

    table {
        width: 100%;
        border-collapse: collapse;
        color: #ffffff;

        th {
            padding: 3px;
            border-bottom: 1px solid #36A8FF;
            text-align: left;
            font-weight: normal;
            text-transform: uppercase;
        }

        td {
            padding: 3px;
            border-bottom: 1px solid #36A8FF;
        }

        tfoot td {
            border-bottom: 1px solid #36A8FF;
        }

        .rowUpdated {
            background: #0082e5;
        }

        .contentEditable {
            background: #ffb600;
            color: #000000;
        }
    }

    @extend %moveInAnimation;
    animation-delay: 0.2s;
}