@import '../../styles/extensions.scss';

.homeWrapper {
    min-height: 100%;
    padding: 0 5% 0 5%;

    .messageHeader {
        padding: 20px;
        background: #f76504;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 5px;
    }

    .selectionBar {
        display: flex;
        align-items: center;
        & > div {
            flex-basis: 50%;
        }

        h1 {
            font-size: 46px;
            font-weight: lighter;
            padding: 20px 0 20px 0;
            opacity: 0.5;
        }
    }

    .timeTrackerNavi {
        padding: 10px 0 10px 0;
        span {
            display: inline-block;
            width: 60px;
            height: 60px;
            margin: 0 20px 0 0;
            opacity: 1;
            cursor: pointer;

            svg {
                width: 100%;
                height: auto;

                circle {
                    fill: #7FC7FF !important;
                }
            }

            &:hover,
            &.selected {
                svg {
                    circle {
                        fill: #ffb600 !important;
                    }
                }
            }
        }
    }
}

