@import '../../styles/extensions.scss';

.homeWrapper {
    min-height: 100%;
    padding: 0 5% 0 5%;

    .messageHeader {
        padding: 20px;
        background: #f76504;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 5px;
        margin: 0 0 10px 0;
    }

    .topBar {
        h1 {
            font-size: 46px;
            letter-spacing: 6px;
            font-weight: lighter;
            padding: 20px 0 20px 0;
            opacity: 0.5;
        }
    }

    .timeTrackerBar {

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 30px 0;

        .timeTrackerNavi {
            flex-basis: 40%;
            white-space: nowrap;
            span {
                display: inline-block;
                width: 60px;
                height: 60px;
                margin: 0 15px 0 0;
                cursor: pointer;

                svg {
                    width: 100%;
                    height: auto;

                    circle {
                        fill: #7FC7FF !important;
                    }
                }

                &.isActive:hover,
                &.selected {
                    svg {
                        circle {
                            fill: #ffb600 !important;
                        }
                    }
                }

                &.inActive {
                    opacity: 0.3;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }

        .timeTrackerSelection {
            flex-basis: 55%;
        }
    }
}

