@import '../../styles/extensions.scss';

.homeWrapper {
    min-height: 100%;
    padding: 0 5% 0 5%;

    .selectionBar {
        display: flex;
        align-items: center;
        & > div {
            flex-basis: 50%;
        }

        h1 {
            font-size: 46px;
            font-weight: lighter;
            padding: 20px 0 20px 0;
            opacity: 0.5;
        }
    }

    .timeTrackerNavi {
        padding: 10px 0 10px 0;
        span {
            @extend %iconButton;
        }
    }
}

