
.timesFilterWrapper {
    padding: 10px 0 20px 0;

    select {
        margin: 0 10px 0 0;
        border: 1px solid grey;
        background: none;
        font-size: 14px;
        padding: 3px;
    }
}
