
.timesFilterWrapper {
    padding: 10px 0 10px 0;
    margin: 10px 0 20px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    display: flex;
    align-items: center;

    div {
       margin: 0 10px 0 0;
    }

    select {
        margin: 0 10px 0 0;
        border: 2px solid #ffffff;
        background: none;
        font-size: 15px;
        padding: 6px;
        color: #ffffff;
        outline: none;

        &.selectActive {
            opacity: 1;
        }

        &.selectDisabled {
            opacity: 0.5;
        }        
    }
}
