.itemList {
    padding: 20px 0 30px 20px;
    width: 100%;
    max-width: 500px;

    li {
        display: flex;
        padding: 6px;
        border-bottom: 1px dotted #393939;
        span {
            flex-basis: 50%;

            &:last-child {
                text-align: right;
            }
        }
    }
}